/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    /*--cor-hover: #272727;*/
    --cor-hover: #d3ce8f;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {/* характеристики body */
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    /*justify-content: center;
    align-items: center;*/
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1,5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    /*color: #007bff;*/
    color: var(--cor-hover);
}


.apresentacao {/* характеристики main */
    padding:5% 15%;
    display: flex;/* or inline-flex */
    align-items: center;
    justify-content: space-between;
    gap: 82px; 
}

.apresentacao__conteudo{/* размер секции текстовый блок */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;/* расстояние между текстовыми элементами */
}

.apresentacao__conteudo__titulo{/* текст h1*/
    font-size: 2,25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {/* выделение внутри h1 */
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{/* текст p */
    font-size: 1,5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    /*color: #22D4FD;*/
    color: var(--cor-terciaria);
}

.apresentacao__links{/* блок кнопок расположение */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;/* расположение кнопок по центру */
    gap: 32px;/* расстояние между кнопками  */
}

.apresentacao__links__subtitulo{/* текст h2 */
    font-family:'Krona One', sans-serif;
    font-weight: 400;
    font: 1,5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links__navegacao {/* кнопки и текст в них */
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1,5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria)
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    color:var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {/* характеристики footer */
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1,5rem;
    font-weight: 400;
}

/*@media ((min-width: 480px) and (max-width: 1200px)) для мобильных устройств все будет в колонку*/
    @media (max-width: 1200px) {
        .cabecalho {
            padding: 10%;
        }
    
        .cabecalho__menu {
            justify-content: center;
        }
    
        .apresentacao {
            flex-direction: column-reverse;
            padding: 6%;
        }

        .apresentacao__conteudo {
            width: auto;
        } 
    }